In [65]:
# Importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns 
import geopandas as gpd
from shapely.geometry import Point
from pandas import DataFrame
from geopandas import GeoDataFrame
from bokeh.plotting import save, figure
from bokeh.models import GeoJSONDataSource

In [2]:
# Import CSV
# convert the csv file to a DataFrame
data = DataFrame.from_csv('C:/Users/jwhoj/Desktop/Capstone_1/KC_house_data.csv', index_col='zipcode')

# extract the geometry from the DataFrame
points = [Point(row['long'], row['lat']) for key, row in data.iterrows()]

#convert the DataFrame to a GeoDataFrame 
geo_dataframe = GeoDataFrame(data,geometry=points)

# save the resulting shapefile
price = geo_dataframe.to_file('price.shp', driver='ESRI Shapefile')

C:\Users\jwhoj\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\jwhoj\Anaconda3\lib\site-packages\geopandas\io\file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():

In [3]:
df = data[['price','bedrooms', 'bathrooms', 'sqft_living', 'waterfront', 'lat', 'long']]

In [4]:
# New df w/ variables of interest
df.head()

,price,bedrooms,bathrooms,sqft_living,waterfront,lat,long
zipcode,,,,,,,
98178,221900.0,3,1.00,1180,0,47.5112,-122.257
98125,538000.0,3,2.25,2570,0,47.7210,-122.319
98028,180000.0,2,1.00,770,0,47.7379,-122.233
98136,604000.0,4,3.00,1960,0,47.5208,-122.393
98074,510000.0,3,2.00,1680,0,47.6168,-122.045

In [5]:
# Make df into geo dataframe 
geo_df = GeoDataFrame(df,geometry=points)

In [6]:
# Groupby zipcode 
zip = df.groupby(['zipcode']).groups.keys()

In [7]:
zip

dict_keys([98001, 98002, 98003, 98004, 98005, 98006, 98007, 98008, 98010, 98011, 98014, 98019, 98022, 98023, 98024, 98027, 98028, 98029, 98030, 98031, 98032, 98033, 98034, 98038, 98039, 98040, 98042, 98045, 98052, 98053, 98055, 98056, 98058, 98059, 98065, 98070, 98072, 98074, 98075, 98077, 98092, 98102, 98103, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 98116, 98117, 98118, 98119, 98122, 98125, 98126, 98133, 98136, 98144, 98146, 98148, 98155, 98166, 98168, 98177, 98178, 98188, 98198, 98199])

In [8]:
# Groupby zipcode and price
zip_price = df.groupby(['zipcode'])['price'].count()

In [9]:
zip_price

zipcode
98001    362
98002    199
98003    280
98004    317
98005    168
98006    498
98007    141
98008    283
98010    100
98011    195
98014    124
98019    190
98022    234
98023    499
98024     81
98027    412
98028    283
98029    321
98030    256
98031    274
98032    125
98033    432
98034    545
98038    590
98039     50
98040    282
98042    548
98045    221
98052    574
98053    405
        ...
98092    351
98102    105
98103    602
98105    229
98106    335
98107    266
98108    186
98109    109
98112    269
98115    583
98116    330
98117    553
98118    508
98119    184
98122    290
98125    410
98126    354
98133    494
98136    263
98144    343
98146    288
98148     57
98155    446
98166    254
98168    269
98177    255
98178    262
98188    136
98198    280
98199    317
Name: price, Length: 70, dtype: int64

In [10]:
# Import King County Shapefile for Zipcode Map 
%matplotlib inline
import geopandas as gpd
kc = gpd.read_file('C:/Users/jwhoj/Desktop/admin/zipcode.shp', index_col='zipcode')

In [11]:
kc.head()

,ZIP,ZIPCODE,COUNTY,ZIP_TYPE,Shape_area,Shape_len,geometry
0,98031,98031,033,Standard,2.280129e+08,117508.232813,"POLYGON ((1297645.018999994 162673.5240000039,..."
1,98032,98032,033,Standard,4.826754e+08,166737.665152,(POLYGON ((1291868.054000005 164132.6790000051...
2,98030,98030,033,Standard,2.000954e+08,94409.538568,"POLYGON ((1299384.719999999 144186.7479999959,..."
3,98029,98029,033,Standard,2.774247e+08,111093.715481,"POLYGON ((1358323.971000001 215228.4819999933,..."
4,98028,98028,033,Standard,1.996531e+08,71488.230747,"POLYGON ((1297496.656000003 283648.5799999982,..."

In [37]:
points = kc.to_crs({'init': 'epsg:4326'})

In [38]:
# Choose variables of focus 
shp = points[['ZIPCODE', 'COUNTY', 'Shape_area', 'Shape_len', 'geometry']]

In [39]:
# New dataframe
shp.head()

,ZIPCODE,COUNTY,Shape_area,Shape_len,geometry
0,98031,033,2.280129e+08,117508.232813,POLYGON ((-122.2184228994867 47.43750364811834...
1,98032,033,4.826754e+08,166737.665152,(POLYGON ((-122.2418694982228 47.4412158001988...
2,98030,033,2.000954e+08,94409.538568,POLYGON ((-122.2100582763942 47.38691615994036...
3,98029,033,2.774247e+08,111093.715481,POLYGON ((-121.9764222505507 47.58429568011995...
4,98028,033,1.996531e+08,71488.230747,POLYGON ((-122.2278797268681 47.76909367694529...

In [40]:
# Changing column names
shp.columns = ['zipcode', 'county', 'shape_area', 'shape_len', 'geometry']

In [41]:
shp.head()

,zipcode,county,shape_area,shape_len,geometry
0,98031,033,2.280129e+08,117508.232813,POLYGON ((-122.2184228994867 47.43750364811834...
1,98032,033,4.826754e+08,166737.665152,(POLYGON ((-122.2418694982228 47.4412158001988...
2,98030,033,2.000954e+08,94409.538568,POLYGON ((-122.2100582763942 47.38691615994036...
3,98029,033,2.774247e+08,111093.715481,POLYGON ((-121.9764222505507 47.58429568011995...
4,98028,033,1.996531e+08,71488.230747,POLYGON ((-122.2278797268681 47.76909367694529...

In [49]:
shp_map = shp.set_index('zipcode')

In [50]:
# Merge CSV and SHPfile
frames = [geo_df, shp_map]

In [51]:
result = pd.concat(frames, sort=True)

In [52]:
result.head()

,bathrooms,bedrooms,county,geometry,lat,long,price,shape_area,shape_len,sqft_living,waterfront
zipcode,,,,,,,,,,,
98178,1.00,3.0,NaN,POINT (-122.257 47.5112),47.5112,-122.257,221900.0,NaN,NaN,1180.0,0.0
98125,2.25,3.0,NaN,POINT (-122.319 47.721),47.7210,-122.319,538000.0,NaN,NaN,2570.0,0.0
98028,1.00,2.0,NaN,POINT (-122.233 47.7379),47.7379,-122.233,180000.0,NaN,NaN,770.0,0.0
98136,3.00,4.0,NaN,POINT (-122.393 47.5208),47.5208,-122.393,604000.0,NaN,NaN,1960.0,0.0
98074,2.00,3.0,NaN,POINT (-122.045 47.6168),47.6168,-122.045,510000.0,NaN,NaN,1680.0,0.0

In [53]:
type(result.index)

pandas.core.indexes.base.Index

In [55]:
list(result)

['bathrooms',
 'bedrooms',
 'county',
 'geometry',
 'lat',
 'long',
 'price',
 'shape_area',
 'shape_len',
 'sqft_living',
 'waterfront']

In [69]:
# Groupby zipcode and price
groupby = result.groupby(['zipcode']).count()

In [70]:
result

,bathrooms,bedrooms,county,geometry,lat,long,price,shape_area,shape_len,sqft_living,waterfront
zipcode,,,,,,,,,,,
98178,1.00,3.0,NaN,POINT (-122.257 47.5112),47.5112,-122.257,POINT (-122.257 47.5112),NaN,NaN,1180.0,0.0
98125,2.25,3.0,NaN,POINT (-122.319 47.721),47.7210,-122.319,POINT (-122.319 47.721),NaN,NaN,2570.0,0.0
98028,1.00,2.0,NaN,POINT (-122.233 47.7379),47.7379,-122.233,POINT (-122.233 47.7379),NaN,NaN,770.0,0.0
98136,3.00,4.0,NaN,POINT (-122.393 47.5208),47.5208,-122.393,POINT (-122.393 47.5208),NaN,NaN,1960.0,0.0
98074,2.00,3.0,NaN,POINT (-122.045 47.6168),47.6168,-122.045,POINT (-122.045 47.6168),NaN,NaN,1680.0,0.0
98053,4.50,4.0,NaN,POINT (-122.005 47.6561),47.6561,-122.005,POINT (-122.005 47.6561),NaN,NaN,5420.0,0.0
98003,2.25,3.0,NaN,POINT (-122.327 47.3097),47.3097,-122.327,POINT (-122.327 47.3097),NaN,NaN,1715.0,0.0
98198,1.50,3.0,NaN,POINT (-122.315 47.4095),47.4095,-122.315,POINT (-122.315 47.4095),NaN,NaN,1060.0,0.0
98146,1.00,3.0,NaN,POINT (-122.337 47.5123),47.5123,-122.337,POINT (-122.337 47.5123),NaN,NaN,1780.0,0.0
98038,2.50,3.0,NaN,POINT (-122.031 47.3684),47.3684,-122.031,POINT (-122.031 47.3684),NaN,NaN,1890.0,0.0
98007,2.50,3.0,NaN,POINT (-122.145 47.6007),47.6007,-122.145,POINT (-122.145 47.6007),NaN,NaN,3560.0,0.0
98115,1.00,2.0,NaN,POINT (-122.292 47.69),47.6900,-122.292,POINT (-122.292 47.69),NaN,NaN,1160.0,0.0
98028,1.00,3.0,NaN,POINT (-122.229 47.7558),47.7558,-122.229,POINT (-122.229 47.7558),NaN,NaN,1430.0,0.0
98074,1.75,3.0,NaN,POINT (-122.045 47.6127),47.6127,-122.045,POINT (-122.045 47.6127),NaN,NaN,1370.0,0.0
98107,2.00,5.0,NaN,POINT (-122.394 47.67),47.6700,-122.394,POINT (-122.394 47.67),NaN,NaN,1810.0,0.0
98126,3.00,4.0,NaN,POINT (-122.375 47.5714),47.5714,-122.375,POINT (-122.375 47.5714),NaN,NaN,2950.0,0.0
98019,2.00,3.0,NaN,POINT (-121.962 47.7277),47.7277,-121.962,POINT (-121.962 47.7277),NaN,NaN,1890.0,0.0
98103,1.00,4.0,NaN,POINT (-122.343 47.6648),47.6648,-122.343,POINT (-122.343 47.6648),NaN,NaN,1600.0,0.0
98002,1.00,2.0,NaN,POINT (-122.21 47.3089),47.3089,-122.210,POINT (-122.21 47.3089),NaN,NaN,1200.0,0.0
98003,1.00,3.0,NaN,POINT (-122.306 47.3343),47.3343,-122.306,POINT (-122.306 47.3343),NaN,NaN,1250.0,0.0
98133,1.75,4.0,NaN,POINT (-122.341 47.7025),47.7025,-122.341,POINT (-122.341 47.7025),NaN,NaN,1620.0,0.0
98040,2.75,3.0,NaN,POINT (-122.233 47.5316),47.5316,-122.233,POINT (-122.233 47.5316),NaN,NaN,3050.0,0.0
98092,2.50,5.0,NaN,POINT (-122.169 47.3266),47.3266,-122.169,POINT (-122.169 47.3266),NaN,NaN,2270.0,0.0
98030,1.50,2.0,NaN,POINT (-122.166 47.3533),47.3533,-122.166,POINT (-122.166 47.3533),NaN,NaN,1070.0,0.0
98030,2.25,3.0,NaN,POINT (-122.172 47.3739),47.3739,-122.172,POINT (-122.172 47.3739),NaN,NaN,2450.0,0.0
98002,2.00,3.0,NaN,POINT (-122.218 47.3048),47.3048,-122.218,POINT (-122.218 47.3048),NaN,NaN,1710.0,0.0
98119,1.75,3.0,NaN,POINT (-122.36 47.6386),47.6386,-122.360,POINT (-122.36 47.6386),NaN,NaN,2450.0,0.0
98112,1.00,3.0,NaN,POINT (-122.314 47.6221),47.6221,-122.314,POINT (-122.314 47.6221),NaN,NaN,1400.0,0.0
98115,1.75,3.0,NaN,POINT (-122.304 47.695),47.6950,-122.304,POINT (-122.304 47.695),NaN,NaN,1520.0,0.0
98052,2.50,4.0,NaN,POINT (-122.11 47.7073),47.7073,-122.110,POINT (-122.11 47.7073),NaN,NaN,2570.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
98934,NaN,NaN,037,POLYGON ((-120.4233561161103 46.99013618095992...,NaN,NaN,POLYGON ((-120.4233561161103 46.99013618095992...,1.228967e+07,21908.690575,NaN,NaN
98940,NaN,NaN,037,POLYGON ((-121.1137673594796 47.59713274657922...,NaN,NaN,POLYGON ((-121.1137673594796 47.59713274657922...,5.451150e+09,465055.065539,NaN,NaN
98941,NaN,NaN,037,POLYGON ((-121.0059329795878 47.23316128360411...,NaN,NaN,POLYGON ((-121.0059329795878 47.23316128360411...,3.570243e+08,128017.069816,NaN,NaN
98943,NaN,NaN,037,POLYGON ((-120.9426102679278 47.18516196369821...,NaN,NaN,POLYGON ((-120.9426102679278 47.18516196369821...,1.006428e+07,14265.719152,NaN,NaN
98407,NaN,NaN,053,"POLYGON ((-122.562643927121 47.32440274916788,...",NaN,NaN,"POLYGON ((-122.562643927121 47.32440274916788,...",4.070659e+08,89427.606602,NaN,NaN
98408,NaN,NaN,053,POLYGON ((-122.4311651325237 47.21494194055201...,NaN,NaN,POLYGON ((-122.4311651325237 47.21494194055201...,9.593008e+07,40949.921696,NaN,NaN
98409,NaN,NaN,053,POLYGON ((-122.4409198898807 47.23639133856887...,NaN,NaN,POLYGON ((-122.4409198898807 47.23639133856887...,2.036588e+08,74004.179926,NaN,NaN
98416,NaN,NaN,053,POLYGON ((-122.4779417907294 47.26530747790243...,NaN,NaN,POLYGON ((-122.4779417907294 47.26530747790243...,4.084772e+06,9681.512261,NaN,NaN
98418,NaN,NaN,053,POLYGON ((-122.4311651325237 47.21494194055201...,NaN,NaN,POLYGON ((-122.4311651325237 47.21494194055201...,4.688576e+07,27782.026811,NaN,NaN
98421,NaN,NaN,053,POLYGON ((-122.3558030947408 47.25804869066621...,NaN,NaN,POLYGON ((-122.3558030947408 47.25804869066621...,2.455865e+08,71249.450775,NaN,NaN
98422,NaN,NaN,033,(POLYGON ((-122.3314661573022 47.2607120909470...,NaN,NaN,(POLYGON ((-122.3314661573022 47.2607120909470...,2.405966e+06,19494.495348,NaN,NaN
98422,NaN,NaN,053,POLYGON ((-122.4326584244301 47.33053416010419...,NaN,NaN,POLYGON ((-122.4326584244301 47.33053416010419...,2.857295e+08,88468.689060,NaN,NaN
98424,NaN,NaN,053,POLYGON ((-122.3996314518975 47.24050211067375...,NaN,NaN,POLYGON ((-122.3996314518975 47.24050211067375...,1.515350e+08,70301.363296,NaN,NaN
98430,NaN,NaN,053,POLYGON ((-122.5564974556976 47.11786868030871...,NaN,NaN,POLYGON ((-122.5564974556976 47.11786868030871...,1.332386e+07,16682.291637,NaN,NaN
98433,NaN,NaN,053,POLYGON ((-122.5930746596275 47.15886501621807...,NaN,NaN,POLYGON ((-122.5930746596275 47.15886501621807...,2.980564e+09,365217.189424,NaN,NaN
98438,NaN,NaN,053,"POLYGON ((-122.474439809067 47.15569204276174,...",NaN,NaN,"POLYGON ((-122.474439809067 47.15569204276174,...",1.791116e+08,74075.403988,NaN,NaN
98439,NaN,NaN,053,POLYGON ((-122.5130711909735 47.11946543466508...,NaN,NaN,POLYGON ((-122.5130711909735 47.11946543466508...,3.236705e+07,31208.674688,NaN,NaN
98443,NaN,NaN,053,POLYGON ((-122.3571073592478 47.22249239830647...,NaN,NaN,POLYGON ((-122.3571073592478 47.22249239830647...,1.387257e+08,51842.228245,NaN,NaN
98444,NaN,NaN,053,"POLYGON ((-122.4314285868728 47.1626557295867,...",NaN,NaN,"POLYGON ((-122.4314285868728 47.1626557295867,...",1.938993e+08,84939.784285,NaN,NaN
98445,NaN,NaN,053,POLYGON ((-122.3892594255517 47.18107942323432...,NaN,NaN,POLYGON ((-122.3892594255517 47.18107942323432...,3.020597e+08,95666.149320,NaN,NaN
98446,NaN,NaN,053,"POLYGON ((-122.3572931882267 47.1810860094882,...",NaN,NaN,"POLYGON ((-122.3572931882267 47.1810860094882,...",3.030527e+08,92261.284745,NaN,NaN
98447,NaN,NaN,053,POLYGON ((-122.4476265370384 47.14412448211569...,NaN,NaN,POLYGON ((-122.4476265370384 47.14412448211569...,3.176084e+06,9413.065476,NaN,NaN
98465,NaN,NaN,053,"POLYGON ((-122.504950972507 47.25522560378273,...",NaN,NaN,"POLYGON ((-122.504950972507 47.25522560378273,...",6.662691e+07,41951.207075,NaN,NaN
98466,NaN,NaN,053,POLYGON ((-122.5925102986564 47.21350349092672...,NaN,NaN,POLYGON ((-122.5925102986564 47.21350349092672...,1.975457e+08,62248.081629,NaN,NaN
98499,NaN,NaN,053,POLYGON ((-122.5048332301337 47.19044099931996...,NaN,NaN,POLYGON ((-122.5048332301337 47.19044099931996...,2.586683e+08,82258.831444,NaN,NaN
98580,NaN,NaN,053,POLYGON ((-122.4221084270932 47.00514158807925...,NaN,NaN,POLYGON ((-122.4221084270932 47.00514158807925...,1.813778e+09,234421.906428,NaN,NaN
98467,NaN,NaN,053,POLYGON ((-122.6071347237348 47.20069385017806...,NaN,NaN,POLYGON ((-122.6071347237348 47.20069385017806...,1.545827e+08,65464.825750,NaN,NaN
98498,NaN,NaN,053,POLYGON ((-122.5276234258439 47.19747219082165...,NaN,NaN,POLYGON ((-122.5276234258439 47.19747219082165...,2.715042e+08,94191.629821,NaN,NaN
98946,NaN,NaN,037,POLYGON ((-120.8140984276748 47.04108322318262...,NaN,NaN,POLYGON ((-120.8140984276748 47.04108322318262...,8.366639e+08,148179.572806,NaN,NaN
98950,NaN,NaN,037,POLYGON ((-119.9994034128017 46.73772633610358...,NaN,NaN,POLYGON ((-119.9994034128017 46.73772633610358...,9.157248e+08,209701.375730,NaN,NaN

In [66]:
import requests
import geopandas as gpd
import pandas as pd
from bokeh.plotting import save, figure
from bokeh.models import GeoJSONDataSource
from bokeh.models import ColumnDataSource, HoverTool, LogColorMapper
import pysal as ps
from bokeh.io import output_file, show